@import url("index.css");
@import url("header.css");
@import url("login.css");

body {
	margin: 0px;
	color: #3e3e40;
	font-family: "Oxygen", sans-serif;
}

a:link, a:visited {
	color: #337ab7;
	text-decoration: none;
}

a:hover, a:active {
	color: #2C5981;
	text-decoration: none;
}

