#events {
	width: 100%;
}

.event {
	border-top: 1px solid #666;
	width: 100%;
}

#eventInfo {
	border-top: 1px solid #ddd;
	padding: 2% 5% 2% 5%;
}

#payload {
}

#payloadLabel {
	font-weight: bold;
}

.payloadTable {
	display: inline;
	padding-right: 5%;
}

.payloadTable td {
	text-align: center;
	padding: 2px;
}

.eventAttr {
	display: inline-block;
	padding: 0.5%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
}

.eventHeader {
	font-weight: bold;
}

.eventPrio, .eventPrio1, .eventPrio2, .eventPrio3 {
	width: 3%;
	text-align: center;
}

.eventPrio {
	text-overflow: clip;
	padding-left: 0px;
	padding-right: 0.5%;
}

.eventPrio1 {
	background-color: #FC4B4B;
}

.eventPrio2 {
	background-color: #FFAB2E;
}

.eventPrio3 {
	background-color: #97FF30;
}

.eventSrc {
	width: 12%;
}

.eventDest {
	width: 12%;
}

.eventName {
	width: 63%;
}

.eventTime {
	width: 5%;
}

#paging {
	width: 100%;
}

#prev {
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	float: left;
	background-color: lightblue;
}

#next {
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	float: right;
	background-color: lightblue;
}
