/* Severity Section  */
#severities {
  width: 75%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.severity_box {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
  box-shadow: 0px 5px 5px #888888;
  width: 27%;
  min-width: 130px;
  margin: 2%;
  padding: 2% 0;
  text-align: center;
}

.severity_number {
  font-size: 3em;
}

#high {
  border-color: #FC4B4B;
  background: rgba(252, 75, 75, 0.05);
}

#medium {
  border-color: #FFAB2E;
  background: rgba(255, 171, 46, 0.05);
}

#low {
  border-color: #97FF30;
  background: rgba(151, 255, 48, 0.05);
}


/* Sidebar Aside */
#compilation {
  width: 20%;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.comp_entry {
  border-top: 1px solid #E9EAEA;
  border-bottom: 1px solid #E9EAEA;
  border-collapse: collapse;
  margin:-1px 0px 0px -1px;
  padding: 3px 10px;
}	
