<?php

$DB_OPTIONS = [
    // Set up details on how to connect to the database
    'dsn'     => "mysql:host=localhost;dbname=snort;",
    'username'        => "root",
    'password'        => "password",
    'driver_options'  => [PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES 'UTF8'"],
];

$PATH = "/var/www/html/bristle/";
$LIMIT = 15;
